.service-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* button  */
.card-container {
    position: relative;
    transition: all 0.3s ease;
}

.buy-now-button-wrapper {
    position: absolute;
    bottom: -40px; /* Push below card */
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    opacity: 0;
    transition: all 0.4s ease;
    z-index: 1;
}

.card-container:hover .buy-now-button-wrapper {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}



.card-image-wrapper {
  position: relative;
  height: 25vh;
  overflow: hidden;
}

.card-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.hover-img {
  opacity: 0;
  z-index: 2;
}

.card-hover:hover .hover-img {
  opacity: 1;
}

.card-hover:hover .default-img {
  opacity: 0;
}



/* Set Solway font globally */
body {
  font-family: "Solway", serif;
  font-weight: 300;
  font-style: normal;
}
